###> symfony/framework-bundle ###
/.env*
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/composer.lock
/symfony.lock
/bin/console
config.php
